# Managed by Ansible. NOMMA Intermediate/Issuing CA OpenSSL configuration.

[ ca ]
default_ca = CA_default

[ CA_default ]
dir               = {{ intermediate_ca_base_dir }}
certs             = $dir/certs
crl_dir           = $dir/crl
new_certs_dir     = $dir/newcerts
database          = $dir/index.txt
serial            = $dir/serial
crlnumber         = $dir/crlnumber
RANDFILE          = $dir/private/.rand
private_key       = {{ intermediate_ca_key_path }}
certificate       = {{ intermediate_ca_cert_path }}
crl               = $dir/crl/nomma-issuing-ca.crl.pem
default_md        = sha256
default_days      = 825
default_crl_days  = 30
preserve          = no
policy            = policy_loose
copy_extensions   = copy
unique_subject    = no

[ policy_loose ]
countryName             = optional
stateOrProvinceName     = optional
localityName            = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

[ req ]
default_bits        = {{ root_ca_rsa_bits }}
default_md          = sha256
distinguished_name  = req_distinguished_name
string_mask         = utf8only
prompt              = no

[ req_distinguished_name ]
C  = {{ pki_country }}
ST = {{ pki_state }}
L  = {{ pki_locality }}
O  = {{ pki_organization }}
OU = {{ pki_org_unit }}
CN = {{ intermediate_ca_common_name }}

[ server_cert ]
basicConstraints = critical, CA:false
nsCertType = server
nsComment = "NOMMA Server Certificate"
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
crlDistributionPoints = URI:http://pki.nomma.tech/crl/nomma-issuing-ca.crl.pem
authorityInfoAccess = OCSP;URI:http://ocsp.nomma.tech/, caIssuers;URI:http://pki.nomma.tech/certs/nomma-issuing-ca.cert.pem
